html {
    overflow-y: scroll;
}

body {
    margin-top: 85px;
}

#brand {
    font-family: 'Leckerli One', cursive;
    font-size: 38px;
    color: #ffffff;
}

#logo {
    display: inline;
    height: 70px;
    vertical-align: top;
    margin-top: -13px;
}

#navbar li a {
    color: #ffffff;
}

#navbar li a:focus, #navbar li a:hover {
    color: #bebebe;
}

#map-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: -1;
}

#map {
    width: 100%;
    height: 100%;
}

#view, #view-container {
    pointer-events: none;
}

#view > div {
    margin-bottom: 15px;
    pointer-events: auto;
}

.bio dd + dt {
    margin-top: 10px;
}

.panel-body {
    padding-bottom: 0;
}

#run-tests {
    margin-bottom: 15px;
}