body {
    margin-top: 70px;
}

#jumbo-header {
    position: relative;
    overflow: auto;
    height:400px;
    margin-top: -20px;
}

#map {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
}

.bio dd + dt {
    margin-top: 10px;
}