<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-app="tweetCityAbout" ng-controller="aboutCtrl">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TweetCity</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="home.html">Home</a></li>
        <li class ="active"><a href="#">About</a></li>
        <li><a href="#">Tweets</a></li>
        <li><a href="#">Hashtags</a></li>
        <li><a href="#">Cities</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>About TweetCity</h1>
    <p>This is our about page.</p>
  </div>

  <!-- Add group members (maybe with tabs?) --> 

  <!-- Stats  -->

  <!-- Data -->

</div>




<script src = "tweetCityAbout.js"></script>
</body>
</html>
