<html>
  <head>
    <title>tweets</title>
    </head>
    <body>
        <div>
        <p>ID: 655766370844409856
        <p>Hashtags": ["ProjectMgmt","Job","Austin","Jobs","Hiring"]
        <p>Place: Austin, TX
        <p>Text: Superior Health Plan #ProjectMgmt #Job: Business Analyst III (#Austin, TX) http://t.co/sBjC1hkc13 #Jobs #Hiring
        <p>User Screen name: tmj_aus_itpm
        </div>
        <div>
        <p>ID: 655712280554962944
        <p>Hashtags": ["weddingweekend","somethingblue","austin","wearefamily"]
        <p>Place: Austin, TX
        <p>Text: #weddingweekend #somethingblue #austin #wearefamily @ The Belmont https://t.co/vaowpsIBRh
        <p>User Screen name: empowering_yoga
        </div>
        <div>
        <p>ID: 655789809793826818
        <p>Hashtags": ["Austin","Banking","regions","regionsbank","Job","Jobs"]
        <p>Place: Austin, TX
        <p>Text: Teller - Part Time - 20 hours (Mopac South) - Regions Bank: (#Austin, TX) http://t.co/5zPJfBXxdI #Banking #regions #regionsbank #Job #Jobs
        <p>User Screen name: regionsjobs
        </div>
  </body>
</html>