<div class="panel panel-default">
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{$hashtag.id}}</dd>
            <dt>Text</dt>
            <dd>#{{$hashtag.text}}</dd>
            <dt>Locations</dt>
            <dd>
                <ul class="list-unstyled">
                    <li ng-repeat="location in $hashtag.locations">
                        <a href="/location/{{location.id}}">{{location.city}},
                            {{location.state}}</a>
                    </li>
                </ul>
            </dd>
            <dt>Tweets</dt>
            <dd>
                <ul class="list-unstyled">
                    <li ng-repeat="tweet in $hashtag.tweets">
                        <a href="/tweet/{{tweet.id}}">{{tweet.text}}</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<h4>Recent Tweets with {{hashtag.name}}</h4>
<div id="tweet-container"></div>