<div class="btn-group" role="group" aria-label="Display Settings">
    <button type="button" class="btn btn-lg btn-default active" show-table="off">Map</button>
    <button type="button" class="btn btn-lg btn-default" show-table="on">Table</button>
</div>
<div class="panel panel-default" id="content" ng-show="tableOn">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="hashtag in $hashtags | itemsPerPage: perPage" total-items="total" current-page="pagination.current">
            <td>{{hashtag.id}}</td>
            <td>#{{hashtag.text}}</td>
            <td><a class="btn btn-default" href="/hashtags/{{hashtag.id}}">Details</a></td>
        </tr>
        </tbody>
    </table>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>