<div class="btn-group" role="group" aria-label="Display Settings">
    <button type="button" class="btn btn-lg btn-default active" show-table="off">Map</button>
    <button type="button" class="btn btn-lg btn-default" show-table="on">Table</button>
</div>
<div class="panel panel-default" id="content" ng-show="tableOn">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="location in $locations">
            <td>{{location.id}}</td>
            <td>{{location.city}}</td>
            <td>{{location.state}}</td>
            <td>{{location.country}}</td>
            <td><a class="btn btn-default" href="/locations/{{location.id}}">Details</a></td>
        </tr>
        </tbody>
    </table>
</div>