<div class="btn-group" role="group" aria-label="Display Settings">
    <button type="button" class="btn btn-lg btn-default active" show-table="off">Map</button>
    <button type="button" class="btn btn-lg btn-default" show-table="on">Table</button>
</div>
<div class="panel panel-default" id="content" ng-show="tableOn">
    <table class="table table-striped" id="tweets-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Text</th>
            <th>Coordinates</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="tweet in $tweets | itemsPerPage: tweetsPerPage" total-items="totalTweets" current-page="pagination.current">
            <td>{{tweet.id}}</td>
            <td>@{{tweet.user}}</td>
            <td>{{tweet.text}}</td>
            <td>{{tweet.longitude}}, {{tweet.latitude}}</td>
            <td><a class="btn btn-default" href="/tweets/{{tweet.id}}">Details</a></td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

</div>